name: Linting

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint:
    name: Linting build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Python info
      shell: bash -l {0}
      run: |
        which python3
        python3 --version
    - name: Install dependencies
      run: python3 -m pip install .[dev] pre-commit
    - name: Check style against standards
      run: pre-commit run --all-files
